* {
    box-sizing: border-box;
    clear: both;
}


/* Header */

header {
    border: 1px solid black;
    clear: both;

}

nav {
    border: 1px solid green;
}

form {
    float: left;
}

ul {
    list-style: none;
    display: inline-block;
    
}

li {
    float: left;
}



/* Main */

section {
    float: left;
}