* {
    box-sizing: border-box;
}


/* Header */
header {
    border: 2px solid black;
    height: 400px;
    width: 100%;

} 

nav {
    border: 1px solid green;
    height: 300px;
    width: 80%;
    margin-left: 130px;
} 



/* .right {

    list-style: none;
    float: right;
    width: 500px;

    
}


li {
    float: left;
    width: 100%;

}  */ */



/* Main */

main {
    border: 2px solid blue;
    height: 500px;
    width: 100%;
}


section {
    border: 1px solid red;
    width: 50%;
    float: left;
    height: 500px;
}

img {
    height: 496px;
    width: 100%;
}








