* {
    box-sizing: border-box;
}


/* Header */
header {
    border-bottom: 2px solid black;
    height: 95px;
    width: 100%;

} 

nav {
    border: 1px solid green;
    height: 45px;
    width: 80%;
    margin-left: 130px;
} 

.left-nav {
    float: left;
    padding-left: 50px;
}

.logo {
    height: 30px;
    width: 180px;
    margin-left: 178px;
}


 .right {
    float: right;
}


li {
    list-style: none;
    float: left;
    padding: 0 10px;

}

li >  a {
    text-decoration: none;
}

/* 
=================   
    Main
=================
*/

main {
    padding-top: 10%;
    border: 2px solid blue;
    height: 1000px;
    width: 100%;
}


section {
    border: 1px solid red;
    width: 40%;
    float: left;
    margin: 0 1.5%;
    height: 500px;
}

img {
    height: 496px;
    width: 100%;
}


/* 
==========================
Right section
=========================
*/

h1 {
    font-size: 80px;

}

p {
    font-size: 20px;

}

.blue-btn {
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    background: blue;
    padding: 10px;
    text-decoration: none;
}








