* {
    box-sizing: border-box;

}


/* 
======================
Header
======================

*/

.bbcLogo {
    height: 35px;
    width: 88px;
}

header {
    height: 55px;
    background: black;
    color: white;
}


nav * {
    width: 8.5%;
    color: white;
    float: left;
    display: inline-block;
    text-decoration: none;
}

nav ul {
    width: 90%;
}

nav form input{
    width: 100%;
}



/* 
======================
    Main
======================

*/

main {
    height: 700px;
    border: 2px solid black;
}

main > section {
    width: 50%;
    float: left;
    height: 500px;
    color: white;
    text-align: justify;
}

.big-image {
    background: url("https://placekitten.com/1000/500");
    background-repeat: no-repeat;
}



/* 
===================
    Four divided sections
===================

*/
main > section section {
    width: 50%;
    height: 250px;
    float:left;
}

.small-image {
    background: url("https://placekitten.com/500/500");
    background-repeat: no-repeat;
}


/* 
==================
    Bottom Section
==================
*/

.left-border {
    border-left: 2px solid red;
}

main + section > section{
    width: 33.3333%;
    float:left;
    height: 500px;
}
