* {
    box-sizing: border-box;

}

.bbcLogo {
    height: 35px;
    width: 88px;
}

header {
    height: 55px;
    background: black;
    color: white;
}


nav * {
    width: 10%;
    color: white;
    float: left;
    display: inline-block;
    text-decoration: none;
}

nav ul {
    width: 40%;
}

nav form input{
    width: 100%;
}

main {
    color: white;
}

main + section > section{
    width: 33.3333%;
    float:left;
    height: 500px;
}

main > section {
    width: 50%;
    float: left;
    height: 500px;

}

main > section section {
    width: 50%;
    height: 250px;
    float:left;
    border: 1px solid black;
}

.imageHere {
    background: url("../images/bbc1.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
}

.imageTwo {
    background: url("../images/bbc2.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.imageThree {
    background: url("../images/bbc3.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.imageFour {
    background: url("../images/bbc4.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.imageFive {
    background: url("../images/bbc5.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.blackFont {
    color: black;
}


