* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Top */

.container {
    background: #66768A;
    color: white;
}



/* Nav */
nav ul {
    float: left;
    width: 50%;
}

nav img {
}



nav a {
    color: white;
}

nav > a {
    float: right;
    border: 1px solid white;
    text-decoration: none;
    color: #66768A;
    background: white;
}



/* Nav list */
nav ul, footer ul {
    list-style: none;
}

nav ul li {
    padding: 10px;
}

nav ul a, footer ul {
    text-decoration: none;
}

li {
    float: left;
}

/* Main */

main {
    clear: both;
    text-align: center;
}

main span {
    display: block;
}

.video-icon {
    display: inline;
}

/* Second */

.second, .third, .bottom {
    border: 1px solid black;
    text-align: center;
}


/* Third */


.third section {
    float: left;
    width: 50%;
    background: #DBDFE2;
}

.third span, .bottom span {
    border: 1px solid grey;
}

/* Bottom */


/* Footer */

footer, footer a {
    background: #161F2A;
    color: white;
}

.left {
    float: left;
}

.left li {
    padding: 10px;
}
.right {
    float: right;
}

.right span {
    display: block;
}

.down {
    border-top: 1px solid white;
    clear: both;

}

.down p {
    display: inline;
}

.down img {
    float: right;
}