* {
    box-sizing: border-box;
}

/* Whole page */

body {
    width: 100%;
    height: 100%;
}

.container {
    float: right;
    width: 80%;
    height: 100%;
    border: 1px solid purple;
}

/* Nav */

nav {
    width: 15%;
    border: 2px solid red;
    float: left;
    
}

nav * ,ul *{
    list-style: none;
    text-decoration: none;
    color: gray;
    border: none;
    display: block;
}


/* Top */

.container > div{
    width: 100%;
    height: 1000px;
    border: 1px solid red;
}

main, aside {
    float: left;
    width: 50%;
    height: 500px;
    border: 1px solid blue;
}


/* Aside */

aside > section {
    border-bottom: 1px solid gray;
}


/* Bottom Section */


.bottom {
    width: 100%;
    height: 20%;
    clear: both;
}

section > section {
    float: left;
    width: 26.61%;
    border: 1px solid green;
}




