* {
    box-sizing: border-box;
}


/* Header */

header {
    border: 1px solid black;
    height: 60px;

}


nav li {
    float: left;
    padding: 0 65px;
}



/* Main */

main {
    border: 1px solid black;
    height: 500px;

}


.smallBox{
    border: 1px solid black;
    width: 15%;
    color: white;
    background: black;
}

.smallBox a {
    color: black;
    background: white;
}


.col-3 section {
    float: left;
    width: 33.3333%;
}

/* Second */

.second {
    border: 1px solid black;
    height: 500px;
    clear: both;
}
.second section {
    float: left;
    width: 50%;
}




/* Third */
.third {
    border: 1px solid black;
    height: 500px;

}

.third section {
    float: left;
    width: 33.3333%;
}


/* Fourth */
.fourth {
    border: 1px solid black;
    height: 500px;

}



/* Bottom */
.bottom {
    border: 1px solid black;
    height: 500px;
    text-align: center;
}

.bottom section {
    width: 50%;
    margin-left: 500px;
}
