* {
    box-sizing: border-box;
}

nav {
    border: 1px solid black;
    height: 80px;
    width: 80%
}

nav *{
    height: 100px;
    width: 10%;
    float:left;
    
}

ul {
    list-style: none;
    width: 40%;
}

input {
    height: 20px;
    width: 55%;
}