html {
    background: url('https://i.pinimg.com/originals/57/d0/1a/57d01ad0f1c0192d3283f5231cc6ec8c.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Shizuru', cursive;
}

body {
    text-align: center;
    color: black;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

button {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}

h2:hover {
    color: orange;
}

