* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Header */


nav * {
    float: left;
}

nav img {
    width: 55%;
}


nav li {
    padding: 0 10px;
}


/* Main */

main {
    clear: both;
    background-image: url(../food-background.jpg);
    height: 500px;
}

main section {
    width: 50%;
    text-align: center;
    margin-top: 100px;
}

/* Second */
.second {
    height: 500px;
}

.second section {
    float: right;
    width: 70%;
}

/* third */
.third {
    height: 500px;
    background: #F2F6F7;
}

.third section {
    text-align: center;
}

.third ul {
    list-style: none;
    border-bottom: 1px solid gray;
}

.foodImage img{
    width: 25%;
    float: left;
}

/* Fourth */
.fourth {
    clear: both;
    height: 500px;
}

.fourth section {
    text-align: center;
}


.dayTime section {
    float: left;
    width: 50%;
}

.fourth img {
    clear: both;
}

/* bottom */
.bottom {
    background: #F2F6F7;
    clear: both;
    height: 500px;
    text-align: center;
}

.bottom img {
    display: block;
}

